<template name="new_link">
    <h3 class="text-center">Опублікувати нові посилання на затвердження</h3>

    <div class="col-md-6 col-md-offset-3">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" name="new-links" id="new-links"
                          cols="40" rows="10"
                          placeholder="Кілька посилань, по одному на рядок"></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right" id="post-links">Надіслати</button>
        </form>
    </div>
</template>